  <ion-card (click)="toggleExpand()">
    <ion-card-header>
      <ion-card-title>{{ incidencia.CT_Titulo_Incidencia }}</ion-card-title>
      <ion-card-subtitle>{{ incidencia.CT_Descripcion }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content *ngIf="expanded">
      <p>Estado: {{ incidencia.CN_Id_Estado }}</p>
      <p>Riesgo: {{ incidencia.CN_Id_Prioridad }}</p>
      <ion-button (click)="onGenerarDiagnostico()"
        >Generar Diagnóstico</ion-button
      >
    </ion-card-content>
  </ion-card>
