<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Diagnostico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="titulo-pantalla">Diagnostico Incidencia</h1>

  <ion-input
    class="input-diagnostico"
    label="Id. Incidencia"
    labelPlacement="floating"
    fill="outline"
    disabled="true"
    [value]="incidenciaClic?.CN_Id_Incidencia || ''"
  >
  </ion-input>

  <ion-input
    [(ngModel)]="nuevoDiagnostico.CT_Diagnostico"
    class="input-diagnostico"
    label="Diagnostico"
    labelPlacement="floating"
    fill="outline"
  >
  </ion-input>

  <ion-select
    [(ngModel)]="nuevoDiagnostico.CB_Requiere_Compra"
    class="input-diagnostico"
    label="¿Requiere compra?"
    labelPlacement="floating"
    fill="outline"
  >
    <ion-select-option [value]="true">Sí</ion-select-option>
    <ion-select-option [value]="false">No</ion-select-option>
  </ion-select>

  <ion-input
    [(ngModel)]="nuevoDiagnostico.CN_Tiempo_Estimado"
    class="input-diagnostico"
    label="Tiempo estimado"
    labelPlacement="floating"
    fill="outline"
  >
  </ion-input>

  <ion-select
    [(ngModel)]="CN_Id_Estado"
    class="input-diagnostico"
    label="Estado"
    labelPlacement="floating"
    fill="outline"
  >
    <ion-select-option [value]="3">En revisión</ion-select-option>
    <ion-select-option [value]="4">En reparación</ion-select-option>
    <ion-select-option [value]="5">Pendiente de compra</ion-select-option>
    <ion-select-option [value]="6">Terminado</ion-select-option>
    <ion-select-option [value]="9">Cerrado</ion-select-option>
  </ion-select>

  <ion-textarea
    [(ngModel)]="nuevoDiagnostico.CT_Observaciones"
    class="input-diagnostico"
    label="Observaciones"
    labelPlacement="floating"
    fill="outline"
  >
  </ion-textarea>

  <ion-input
    class="input-diagnostico"
    label="Fotos"
    labelPlacement="floating"
    fill="outline"
  >
    <ion-icon name="images-outline" slot="end"></ion-icon>
  </ion-input>

  <ion-button
    class="input-diagnostico"
    shape="round"
    (click)="crearDiagnostico()"
    >Enviar</ion-button
  >
</ion-content>
