<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Incidencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="titulo-pantalla">Formulario de datos</h1>

  <ion-input
    [(ngModel)]="nuevaIncidencia.CT_Titulo_Incidencia"
    (ngModelChange)="checkInputs()"
    class="input-incidencia"
    label="Titulo de la incidencia"
    labelPlacement="floating"
    fill="outline"
    required
  ></ion-input>

  <ion-input
    [(ngModel)]="nuevaIncidencia.CT_Lugar"
    (ngModelChange)="checkInputs()"
    class="input-incidencia"
    label="Lugar del incidente"
    labelPlacement="floating"
    fill="outline"
  ></ion-input>

  <ion-textarea
    [(ngModel)]="nuevaIncidencia.CT_Descripcion"
    (ngModelChange)="checkInputs()"
    class="input-incidencia"
    label="Descripcion"
    labelPlacement="floating"
    fill="outline"
  ></ion-textarea>

  <ion-buttons class="botones-imagenes">
    <!-- Botón para elegir archivo -->
    <ion-button expand="block" fill="solid" color="primary">
      <label for="custom-file-input" class="custom-label-input">
        <ion-icon slot="start" name="archive"></ion-icon> Elegir archivo
      </label>
      <input
        type="file"
        name="photos"
        id="custom-file-input"
        multiple
        hidden
        (change)="newImagenUpload($event)"
        aria-label="Seleccionar archivos"
      />
    </ion-button>

    <!-- Botón para cámaras -->
    <ion-button expand="block" fill="solid" color="primary">
      <label for="custom-camera-input" class="custom-label-input">
        <ion-icon slot="start" name="camera"></ion-icon> Tomar foto
      </label>
      <input
        type="file"
        name="photos"
        id="custom-camera-input"
        multiple
        hidden
        aria-label="Seleccionar archivos"
      />
    </ion-button>
  </ion-buttons>

  <div class="image-preview-container">
    <div *ngFor="let img of newImages; let i = index" class="image-preview">
      <img [src]="img" alt="Selected Image" />
      <ion-button color="danger" (click)="removeImage(i)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </div>
  </div>

  <ion-button
    class="input-incidencia"
    shape="round"
    (click)="crearIncidencia()"
    [disabled]="!allInputFilled"
    >Enviar</ion-button
  >
</ion-content>
