<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Incidencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="titulo-pantalla">Formulario de datos</h1>

  <ion-input
    [(ngModel)]="nuevaIncidencia.CT_Titulo_Incidencia"
    (ngModelChange)="checkInputs()"
    class="input-incidencia"
    label="Titulo de la incidencia"
    labelPlacement="floating"
    fill="outline"
    required
  >
  </ion-input>

  <ion-input
    [(ngModel)]="nuevaIncidencia.CT_Lugar"
    (ngModelChange)="checkInputs()"
    class="input-incidencia"
    label="Lugar del incidente"
    labelPlacement="floating"
    fill="outline"
  >
  </ion-input>

  <ion-textarea
    [(ngModel)]="nuevaIncidencia.CT_Descripcion"
    (ngModelChange)="checkInputs()"
    class="input-incidencia"
    label="Descripcion"
    labelPlacement="floating"
    fill="outline"
  >
  </ion-textarea>

  <ion-input
    [(ngModel)]="nuevaIncidencia.CN_Id_Imagenes"
    class="input-incidencia"
    label="Imagenes"
    labelPlacement="floating"
    type="file"
    accept="image/*"
    (change)="newImagenUpload($event)"
    fill="outline"
  >
    <ion-icon name="images-outline" slot="end"></ion-icon>
  </ion-input>

  <ion-button
    class="input-incidencia"
    shape="round"
    (click)="crearIncidencia()"
    [disabled]="!allInputFilled"
    >Enviar</ion-button
  >
</ion-content>
